# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\01. Avans\OneDrive - Avans Hogeschool\Jaar 1\Periode 2\Proftaak code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
